# Ansible inventory files
ansible/inventory/infra/
!ansible/inventory/example/

# Terraform/OpenTofu files
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Provider credentials and keys
credentials.json
*.pem
*.key
**/account.json
.env

# IDE and temp files
.DS_Store
.vscode/
*.swp