base_name                     = "srv-opentofu"
vm_count                      = 2
vm_id_base                    = 5500
cpu_cores                     = 1
memory                        = 2048
disk_size                     = 20
datastore_disk                = "local-vm"
node_name                     = "node name"
network_bridge                = "vmbr0"
vlan_id                       = 102
virtual_environment_endpoint  = "https://<node ip>:8006/api2/json"
virtual_environment_api_token = "XXXXXXXXXXXXXXXXXXXXXX"
use_meta_data                 = true
ubuntu_cloud_image_url        = "https://cloud-images.ubuntu.com/minimal/daily/noble/current/noble-minimal-cloudimg-amd64.img"
vm_username                   = "user"
vm_reboot                     = false
agent_enabled                 = true
tailscale_authkey             = "tskey-auth-XXXXXXX"